<% provide(:title, "À propos") %>
<h1>À propos</h1>
<p>Nous sommes une équipe de trois personnes&nbsp;:</p>
<ul>
  <li>Shahin Amini</li>
  <li><a href="http://guillaume.claret.me/">Guillaume Claret</a></li>
  <li><a href="http://pierre.gaillard.me/">Pierre Gaillard</a></li>
</ul>