<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <script type="text/javascript">
    document.write("Pour nous contacter, le plus simple est de nous envoyer un mail sur <a href=\"mail" + "to:" + new Array("mail","table-hub.com").join("@") + "\">" + new Array("mail","table-hub.com").join("@") + "</" + "a>.");
  </script>
</p>