<div class="row jumbotron">
  <div class="col-md-6">
    <img class="img-rounded pull-left img-responsive" alt="logo" src="assets/beer_bear.png"/>
  </div>
  <div class="col-md-6">
    <h1>Table-Hub</h1>
    <p>Que vous soyez un bar ou un restaurant, renforcez facilement votre présence en ligne pour gagner de nouveaux clients.</p>

    <%= link_to "S'inscrire", signup_path, class: "btn btn-lg btn-success" %>
    <%= link_to "Se connecter", signin_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>