<div class="row welcome">
  <div class="col-md-6 visible-md visible-lg">
    <%= image_tag "beer_bear.png", alt: "beer_bear", class: "img-rounded img-responsive" %>
  </div>
  <div class="col-md-6">
    <h1>Table-Hub</h1>
    <p class="lead">Que vous soyez un bar ou un restaurant, assurez facilement votre présence en ligne et gagnez de nouveaux clients.</p>

    <div class="">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <% unless signed_in? %>
            <%= render 'users/signup_form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>