<div class="jumbotron">
  <p><img class="img-rounded pull-left img-responsive" alt="logo" src="http://d13yacurqjgara.cloudfront.net/users/3185/screenshots/1115762/screen_shot_2013-06-14_at_2.39.11_pm.png"/></p>
  <h1>Table-Hub</h1>
  <p>Que vous soyez un bar ou un restaurant, renforcez facilement votre présence en ligne pour gagner de nouveaux clients.</p>

  <%= link_to "S'inscrire", signup_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Se connecter", signin_path, class: "btn btn-lg btn-primary" %>
</div>