<% if @user.errors.any? %>
  <div class="alert alert-danger">
    Le formulaire contient <%= pluralize(@user.errors.size, "erreur") %>.
  </div>
  <ul class="text-danger">
    <% for msg in @user.errors.full_messages do %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>